<nav class="navbar bg-dark navbar-dark mb-4">
    <h5 *ngIf="test" class="navbar-text m-0 ml-lg-5">
        {{test.title}}
    </h5>
</nav>
<div class="container-lg">
    <div class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert"><i class="fas fa-times"></i></button>
        <strong>Warning!</strong> If you leave without saving, your results will be lost.
    </div>
    <div *ngIf="test">
        <h5 class="font-weight-bolder">Description:</h5>
        <h5 style="white-space: pre-wrap">{{test.description}}</h5>
        
        <h5 class="mt-3">
            <span class="font-weight-bolder">Time to pass the test: </span>
            {{test.time | date:"HH:mm:ss":"UTC"}}
        </h5>
    </div>

    <div class="my-3">
        <button class="btn btn-outline-success mr-3" (click)="startTest()">Start</button>
        <button class="btn btn-outline-danger" routerLink="/tests">Cancel</button>
    </div>
</div>