<div class="container-sm px-0">
	<div class="shadow-sm px-0 mt-sm-5 offset-lg-4 col-lg-5">
		<div class="border">
			<div class="text-white py-2 text-center bg-dark">
				<h3 class="my-2 mt-3"><i class="fas fa-graduation-cap fa-lg"></i> Title</h3>
			</div>
			<ul class="nav nav-tabs nav-justified">
				<li class="nav-item">
					<a class="nav-link rounded-0 border-left-0" routerLink="/auth" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Log in</a>
				</li>
				<li class="nav-item">
					<a class="nav-link rounded-0 border-right-0" routerLink="/auth/sign-up" routerLinkActive="active">Sign up</a>
				</li>
			</ul>
			<div class="p-3">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>